.notion-custom-code {
  font-size: 0.9rem;
  width: 100%;
}

.notion-custom-code.light {
  background-color: rgba(0, 0, 0, 0.05) !important;
}

.notion-custom-code.dark {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.notion-custom-code.light code {
  background-color: transparent !important;
}

.notion-custom-code.dark code {
  background-color: transparent !important;
}