.notion-custom-code {
  font-size: 0.9rem;
  width: 100%;
}

.notion-custom-code.light {
  background-color: #f4f6f8 !important;
}

.notion-custom-code.dark {
  background-color: #333333 !important;
}

.notion-custom-code.light code {
  background-color: transparent !important;
}

.notion-custom-code.dark code {
  background-color: transparent !important;
}