.notion-title {
  display: none !important;
}

.notion-page-cover-wrapper {
  display: none !important;

}

.notion-header {
  display: none !important;
}

.notion-inline-code {
  background-color: #f4f6f8;
  color: black;
  font-size: 1em;
  font-weight: 500;
  font-family: "Pretendard", "Malgun Gothic", sans-serif;
}

.notion-quote {
  border-color: #00cccc;
  background-color: #f4f6f8;
  margin-top: 26.4px;
}

.notion-h1 {
  font-size: 35px;
  color: #00cccc;
  font-weight: bold;
  padding-top: 40px !important;
}

.notion-h2 .notion-h-title {
  font-size: 35px;
  color: #00cccc;
  font-weight: bold;
}

.notion-h3 .notion-h-title {
  font-weight: bold;
}

.notion-hr {
  border-top: 1px #efefef solid !important;
}