/* .notion-title {
  display: none !important;
} */

/* .notion-page-cover-wrapper {
  display: none !important;
} */

/* .notion-header {
  display: none !important;
} */

.notion {
  font-family: var(--font-pretendard);
}

.notion-inline-code {
  background-color: #f4f6f8;
  color: black;
  font-size: 1em;
  font-weight: 500;
  font-family: var(--font-pretendard);
}

.dark-mode .notion-inline-code {
  background-color: var(--mui-palette-action-selected);
  color: white;
}

.notion-quote {
  border-color: #00cccc;
  background-color: #f4f6f8;
  margin-top: 26.4px;
  font-size: 1rem;
  padding: 16px;
}

.dark-mode .notion-quote {
  background-color: var(--mui-palette-action-selected);
}

.notion-h1 {
  font-size: 35px;
  font-weight: bold;
  padding-top: 50px;
}

.notion-h2 .notion-h-title {
  font-size: 35px;
  color: #00cccc;
  font-weight: bold;
}

.notion-h3 .notion-h-title {
  font-weight: bold;
}

.notion-hr {
  margin-top: 10px;
  border-top: 1px #efefef solid;
}