/* .notion-title {
  display: none !important;
} */

/* .notion-page-cover-wrapper {
  display: none !important;
} */

/* .notion-header {
  display: none !important;
} */

.notion {
  font-family: var(--font-pretendard);
  width: 900px !important;
}

.notion-inline-code {
  background-color: #f4f6f8;
  color: black;
  font-size: 1rem;
  font-weight: 500;
  font-family: var(--font-pretendard);
  padding: 3px 5px;
  display: inline-block;
  margin: 4px 2px;
}

.dark .notion-inline-code {
  background-color: #333333;
  color: white;
}

.notion-quote {
  border-color: #00cccc;
  background-color: #f4f6f8;
  margin-top: 26.4px;
  font-size: 1rem;
  padding: 16px;
}

.dark .notion-quote {
  background-color: #333333;
}

.notion-h1 {
  font-size: 3.5rem;
  font-weight: bold;
  padding-top: 30px;
}

.notion-h2 .notion-h-title {
  font-size: 2.5rem;
  color: #00cccc;
  font-weight: bold;
}

.notion-h3 .notion-h-title {
  font-weight: bold;
}

.notion-hr {
  margin-top: 10px;
  border-top: 1px #efefef solid;
}