/* 기존 스타일 */
.custom-code-block {
  padding: 3px 8px;
  border-radius: 18px;
  font-weight: 500;
  font-size: 1rem;
  font-family: var(--font-pretendard);
}

.custom-code-block.dark {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.custom-code-block.light {
  background-color: rgba(0, 0, 0, 0.05);
  color: black;
}