code {
  padding: 3.2px 6.4px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 1rem;
  font-family: var(--font-pretendard);
}

.dark code {
  background-color: var(--mui-palette-action-selected);
  color: white;
}

.light code {
  background-color: #f4f6f8;
  color: black;
}