code {
  padding: 3.2px 6.4px;
  border-radius: 3px;
  background-color: #f4f6f8;
  font-weight: 500;
  font-size: 1rem;
  font-family: "Pretendard", "Malgun Gothic", sans-serif;
}

@media (prefers-color-scheme: dark) {
  code {
    background-color: var(--mui-palette-action-selected);
  }
}

@media (prefers-color-scheme: light) {
  code {
    color: black;
  }
}